.navbar-background-enterprise {
  background: #1445c2;
}

.navbar-link-enterprise {
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.05);
  border-radius: 15px;
}

.navlink-enterprise {
  height: 25px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: -0.02em;

  /* White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-btn-enterprise {
  /* Frame 4 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  gap: 10px;

  margin: 0 auto;
  height: 55px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: -0.02em;

  /* White */
  color: #ffffff;

  background: rgba(246, 246, 246, 0.1);
  /* White */
  border: 1px solid #ffffff;
  box-shadow: inset 0px 4px 4px rgba(255, 255, 255, 0.25);
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.contact-btn:hover {
  border-radius: 10px;
  background: var(
    --Main-Radial,
    radial-gradient(46.19% 50.94% at 50% 100%, #587edb 0%, #1445c2 100%)
  );
  color: white;
}

.hero-div-enterprise {
  /* Frame 9 */

  /* Auto layout */
  /* display: flex;
flex-direction: column;
align-items: center;
padding: 10px 80px;
isolation: isolate;

position: absolute;
width: 1440px;
height: 810px;
left: 0px;
top: 0px; */

  background: radial-gradient(
    46.19% 50.94% at 50% 100%,
    #587edb 0%,
    #1445c2 100%
  );
}

.hero-btn-enterprise:hover {
  border-radius: 10px;
  background: var(
    --Main-Radial,
    radial-gradient(46.19% 50.94% at 50% 100%, #587edb 0%, #1445c2 100%)
  );
  color: white;
}

.iam-enterprise {
  height: 25px;

  /* font-family: 'Uncut Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: -0.02em;

  /* Black */
  color: white;
}

.hero-btn-div-enterprise {
  padding: 5px;
  background: rgba(243, 243, 243, 0.2);
  border-radius: 39px;
}

.hero-indv-btn-enterprise {
  /* Frame 1000003055 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;

  width: 247px;
  /* height: 43px; */

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hero-indv-btn-text-enterprise {
  /* Individual/Small Business */

  width: 207px;
  /* height: 23px; */

  /* font-family: 'Uncut Sans'; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: -0.02em;

  /* White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hero-entr-btn-enterpise {
  /* Frame 1000003053 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;

  width: 114px;
  height: 43px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: white;

  background: rgba(255, 255, 255, 0.2);
  /* White */
  border: 1.5px solid #ffffff;
  border-radius: 31px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.hero-primary-heading-enterprise {
  /* What we Provide for the Success of your Business */

  width: 100%;
  /* height: 200px; */

  /* font-family: 'Uncut Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 95px;
  line-height: 100px;
  /* or 105% */
  text-align: center;
  letter-spacing: -0.06em;

  /* White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hero-para-enterpise {
  /* From consolidated reporting to industry expertise, we deliver data-driven insights and actionable strategies for success. */

  /* width: 634px;
    height: 46px;

    font-family: 'Uncut Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.03em;

  /* White */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.hero-btn-enterprise {
  /* Frame 4 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  gap: 10px;

  height: 55px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  letter-spacing: -0.02em;

  /* Black */
  color: #000000;

  background: #f6f6f6;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.cards-background {
  background-color: transparent;
}

.card-enterprise {
  /* Frame 1000003020 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px;
  gap: 20px;

  /* height: 364px; */

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%),
    #ffffff;
  box-shadow: -18px 73px 30px rgba(0, 0, 0, 0.01),
    -10px 41px 26px rgba(0, 0, 0, 0.05), -5px 18px 19px rgba(0, 0, 0, 0.09),
    -1px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

.card-span {
  /* Audit and Assurance */
  /* 
    width: 363.33px;
    height: 28px;

    font-family: 'Uncut Sans'; */
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: -0.03em;

  /* Black */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.card-para {
  /* Set up your accounting software in a day through our checklist, for converting a client from your legacy software to Xero. */

  /* width: 363.33px;
    height: 69px; */

  /* font-family: 'Uncut Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 0em;

  /* Black */
  color: #000000;

  opacity: 0.7;
}

.card-image-div {
  /* Frame 1000003022 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
  /* gap: 15px; */
  /* isolation: isolate; */

  width: 100%;
  /* height: 192px; */

  background: #f2f2f2;
  border-radius: 15px;
}

.market-expansion-div {
  /* Main Radial */
  background: radial-gradient(
    46.19% 50.94% at 50% 100%,
    #587edb 0%,
    #1445c2 100%
  );
  border-radius: 22px;
}

.market-expansion-heading {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -0.05em;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.market-expansion-para {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.market-expansion-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  gap: 10px;

  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;

  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;

  background: #f6f6f6;
  border-radius: 10px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
