.service-img-cards {
  display: flex;
  width: 197.6px;
  padding: 13px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6.5px;
  border-radius: 9.75px;
  border: 1.3px solid var(--Main-Radial, #587edb);
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.6) 100%);
  box-shadow: 0px 101.4px 28.6px 0px rgba(176, 176, 176, 0),
    0px 65px 26px 0px rgba(176, 176, 176, 0.01),
    0px 36.4px 22.1px 0px rgba(176, 176, 176, 0.05),
    0px 16.25px 16.25px 0px rgba(176, 176, 176, 0.09),
    0px 3.9px 9.1px 0px rgba(176, 176, 176, 0.1);
  backdrop-filter: blur(9.067500114440918px);
}

.service-below-hero {
  background: url(./assets/images/services/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 477px;
  border-radius: 15px;
}
.service-info-h3-primary {
  color: var(--Black, #000);
  text-align: center;
  /* font-family: "Uncut Sans"; */
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.6px;
}
.service-info-h3-secondary {
  background: var(
    --Main-Radial,
    radial-gradient(46.19% 50.94% at 50% 100%, #587edb 0%, #1445c2 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* font-family: "Uncut Sans"; */
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.6px;
}
.service-img-cards-2 {
  padding: 25px;
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #dadada;
  filter: drop-shadow(0px 100px 40px rgba(176, 176, 176, 0.01))
    drop-shadow(0px 56px 34px rgba(176, 176, 176, 0.05))
    drop-shadow(0px 25px 25px rgba(176, 176, 176, 0.09))
    drop-shadow(0px 6px 14px rgba(176, 176, 176, 0.1));
  border-radius: 15px;
}

.service-img-cards-2:hover {
  color: white;

  /* Main Radial */
  background: radial-gradient(
    46.19% 50.94% at 50% 100%,
    #587edb 0%,
    #1445c2 100%
  );
  box-shadow: inset 0px 4px 15.9px rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4.5px);
}
.service-consultation-section-para {
  color: var(--Black, #000);
  /* font-family: "Uncut Sans"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}
.service-work-heading {
  color: var(--White, #fff);
  text-align: center;
  /* font-family: "Uncut Sans"; */
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.6px;
}
.service-work-para {
  color: var(--White, #fff);
  text-align: center;
  /* font-family: "Uncut Sans"; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}

.service-img-card-price {
  color: var(--Black, #000);
  /* font-family: "Uncut Sans"; */
  font-size: 20.8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.624px;
}

.service-img-card-title {
  color: var(--Black, #000);
  /* font-family: "Uncut Sans"; */
  font-size: 14.3px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.429px;
}

@media (min-width: 640px) {
  /* For screens 640px and larger */
  .service-work-para {
    color: var(--White, #fff);
    text-align: center;
    /* font-family: "Uncut Sans"; */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
  }
  .service-work-heading {
    color: var(--White, #fff);
    text-align: center;
    /* font-family: "Uncut Sans"; */
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -3.2px;
  }
  .service-consultation-section-para {
    color: var(--Black, #000);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
  }
  .service-info-h3-secondary {
    background: var(
      --Main-Radial,
      radial-gradient(46.19% 50.94% at 50% 100%, #587edb 0%, #1445c2 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: "Uncut Sans"; */
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2.8px;
  }
  .service-info-h3-primary {
    color: var(--Black, #000);
    /* font-family: "Uncut Sans"; */
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -4px;
  }
  .service-below-hero {
    background: url(./assets/images/services/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 477px;
    /* padding: 35px 75px; */
    flex-direction: column;
    align-items: center;
    gap: 75px;
    align-self: stretch;
    border-radius: 25px;
  }

  .service-img-cards {
    display: flex;
    width: 304px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 15px;
    border: 2px solid var(--Main-Radial, #587edb);
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.6) 100%);
    box-shadow: 0px 156px 44px 0px rgba(176, 176, 176, 0),
      0px 100px 40px 0px rgba(176, 176, 176, 0.01),
      0px 56px 34px 0px rgba(176, 176, 176, 0.05),
      0px 25px 25px 0px rgba(176, 176, 176, 0.09),
      0px 6px 14px 0px rgba(176, 176, 176, 0.1);
    backdrop-filter: blur(13.949999809265137px);
  }

  .service-img-cards-2 {
    width: 48%;
  }
  .service-img-card-price {
    color: var(--Black, #000);
    /* font-family: "Uncut Sans"; */
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
  }
  .service-img-card-title {
    color: var(--Black, #000);
    /* font-family: "Uncut Sans"; */
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.66px;
    opacity: 0.7;
  }
}

.service-info-para {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.03em;

  /* Black */
  color: #000000;
}

.service-card-para {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;

  /* Black */
  color: #000000;

  opacity: 0.7;
}

.service-img-cards-2:hover .service-card-para {
  color: white;
}

.service-card-head {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  /* identical to box height */
  letter-spacing: -0.03em;

  /* Black */
  color: #000000;
}

.service-img-cards-2:hover .service-card-head {
  color: white;
}

.img-box-service {
  /* Frame 1000003020 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;

  font-style: normal;
  font-weight: 600;
  font-size: 29.9765px;
  line-height: 37px;
  letter-spacing: -0.03em;
  color: black;

  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border: 1px solid #dadada;
  box-shadow: 0px 100px 40px rgba(176, 176, 176, 0.01),
    0px 56px 34px rgba(176, 176, 176, 0.05),
    0px 25px 25px rgba(176, 176, 176, 0.09),
    0px 6px 14px rgba(176, 176, 176, 0.1);
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.flex-item-inner-div:hover .img-box-service {
  /* Main Radial */
  background: radial-gradient(
    46.19% 50.94% at 50% 100%,
    #587edb 0%,
    #1445c2 100%
  );
  box-shadow: 0px 100px 40px rgba(176, 176, 176, 0.01),
    0px 56px 34px rgba(176, 176, 176, 0.05),
    0px 25px 25px rgba(176, 176, 176, 0.09),
    0px 6px 14px rgba(176, 176, 176, 0.1);
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* White */
  color: #ffffff;
}

.service-img-cards-2-img-1 {
  width: 70.13px;
  height: 75px;
}
.service-img-cards-2-img-2 {
  width: 65px;
  height: 75px;
}
.service-img-cards-2-img-3 {
  width: 96.739px;
  height: 75px;
}
.service-img-cards-2-img-4 {
  width: 75px;
  height: 75px;
}

.how-it-works {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}
