@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    background-color: #F7F9FD;
    ;
}

body::-webkit-scrollbar {
    display: none;
}

.contact-btn{
    /* Frame 4 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    gap: 10px;

    margin: 0 auto;
    width: 152px;
    height: 55px;
    
    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: -0.02em;

    /* Black */
    color: #000000;

    background: #F6F6F6;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.navlink{
    /* Services */

    /* width: 78px; */
    height: 25px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: -0.02em;

    /* Black */
    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.navbar-link{
    /* Frame 3 */

    box-sizing: border-box;

    /* White */
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    border-radius: 15px;

}

.iamm{
    /* I am a */

    height: 25px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: -0.02em;

    /* Black */
    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.hero-indv-btn{
    /* Frame 7 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;

    width: 237px;
    height: 50px;

    /* White */
    background: #FFFFFF;
    border: 1.5px solid #1445C2;
    border-radius: 31px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

.hero-indv-btn-text{
    /* Individual/Small Business */

    width: 207px;
    height: 23px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.02em;

    /* Main Radial */
    background: radial-gradient(46.19% 50.94% at 50% 100%, #587EDB 0%, #1445C2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.hero-entr-btn{
    /* Frame 1000003054 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 124px;
    height: 50px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: white;

    /* Main Radial */
    background: radial-gradient(46.19% 50.94% at 50% 100%, #587EDB 0%, #1445C2 100%);
    border-radius: 100px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.hero-primary-heading{
    /* Financial team that’s */

    height: 100px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 95px;
    line-height: 100px;
    /* identical to box height, or 105% */
    text-align: center;
    letter-spacing: -0.06em;

    /* Black */
    color: #000000;
}

.hero-secondary-heading{
    /* naunced */

    height: 100px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 95px;
    line-height: 100px;
    /* identical to box height, or 105% */
    text-align: center;
    letter-spacing: -0.06em;

    /* Main Radial */
    background: radial-gradient(46.19% 50.94% at 50% 100%, #587EDB 0%, #1445C2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */


}

.hero-para{
    /* Let us take care of your books, taxes, and payroll while you focus on growing your business. Our expert accountants specialize in helping small businesses thrive. */

    width: 634px;
    height: 46px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.03em;

    /* Black */
    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.hero-btn{
    /* Frame 4 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    gap: 10px;

    height: 55px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* line-height: 25px; */
    /* identical to box height */
    letter-spacing: -0.02em;
    color: white;

    /* Main Radial */
    background: radial-gradient(46.19% 50.94% at 50% 100%, #587EDB 0%, #1445C2 100%);
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

}

.accounting-solution-div{
    /* Frame 10 */

    /* Auto layout */
    padding: 35px 75px;
    isolation: isolate;

    background: radial-gradient(46.19% 50.94% at 50% 100%, rgba(88, 126, 219, 0.9) 0%, rgba(20, 69, 194, 0.9) 100%), radial-gradient(46.19% 50.94% at 50% 100%, #587EDB 0%, #1445C2 100%), url(.jpg);
    background-blend-mode: normal, lighten, normal;
    border-radius: 25px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.accounting-heading{
    /* Our Suite of Business and Accounting Solutions */

    width: 857px;
    /* height: 160px; */

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.05em;

    /* White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.accounting-para{
    /* Full-service accounting solutions for enterprises and small businesses. Tax, bookkeeping, payroll, and more. */

    width: 634px;
    height: 50px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.03em;

    /* White */
    color: #FFFFFF;
}

.flex-item-div-primary{

    box-sizing: border-box;

    /* Auto layout */
    padding: 10px;

    width: 363px;
    height: 239px;

    background: rgba(255, 255, 255, 0.2);
    border: 2.5px solid #FFFFFF;
    box-shadow: inset 0px 4px 15.9px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;

}

.flex-item-div-secondary{

    /* Frame 1000003020 */

    box-sizing: border-box;

    padding: 25px;

    width: 363px;
    height: 239px;

    background: rgba(255, 255, 255, 0.1);
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px 4px 15.9px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 15px;

}

.flex-item-inner-div{
    /* Frame 1000003079 */

    /* Auto layout */
    padding: 15px;

    height: 100%;

    /* White */
    background: #FFFFFF;
    border-radius: 7.5px;

}

.div-item-span{
    /* Bookkeeping */

    width: 313.33px;
    height: 28px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* Black */
    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.div-item-span-secondary{

    /* Software Selection and Setup */

    width: 313.33px;
    height: 28px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: -0.03em;

    /* White */
    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

.div-item-para{
    /* This is the foundation of good financial management, tracking income and expenses. */

    width: 313.33px;
    height: 69px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;

    /* Black */
    color: #000000;

    opacity: 0.7;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.div-item-para-secondary{
    /* Choosing and implementing accounting software that meets the specific needs of the business. */

    width: 313.33px;
    height: 69px;

    /* font-family: 'Uncut Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.03em;

    /* White */
    color: #FFFFFF;

    opacity: 0.7;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.request-consultation-btn{
    /* Frame 4 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    gap: 10px;

    width: 246px;
    height: 55px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: -0.02em;

    /* Black */
    color: #000000;

    /* White */
    background: #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.call-us-btn{
    /* Frame 1000003023 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 25px;
    gap: 10px;

    width: 114px;
    height: 55px;

    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height */
    letter-spacing: -0.02em;

    /* White */
    color: #FFFFFF;

    /* White */
    border: 2px solid #FFFFFF;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
